ENV=local
PATH_PREFIX=/api/v1
APP_HOST=127.0.0.1
APP_PORT=8080
POSTGRES_DB=employee_registry_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
DB_CONNECT_RETRY=20
DB_POOL_SIZE=15
